<div class="container">
  <h1>Tweet</h1>

  <div class="card">
    <div class="card-body">
      <p><%= @tweet.content %></p>
      <% if @tweet.image.present? %>
        <div class="my-3"> 
          <%= image_tag @tweet.image, width: "150", height: "150" %>
        </div>
      <% end %>
      <%= link_to "Back", tweets_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
